<div class="container">

    <figure>
        <img src="assets/img/rickandmorty.png" alt="Rick and Morty logo">    
    </figure>
    
    <mat-accordion>
        <expansion-panel-season *ngFor="let season of seasons" [title]="season"></expansion-panel-season>            
    </mat-accordion>

</div>