<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ title | uppercase }}
    </mat-panel-title>
    <mat-panel-description>
      {{ episodes.length }} episodes
    </mat-panel-description>
  </mat-expansion-panel-header>    

  <table mat-table [dataSource]="episodes" class="mat-elevation-z8">      
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let episode"> {{ episode.name }} </td>
    </ng-container>
        
    <ng-container matColumnDef="air_date">
      <th mat-header-cell *matHeaderCellDef> Air Date </th>
      <td mat-cell *matCellDef="let episode"> {{ episode.air_date }} </td>
    </ng-container>        
    
    <ng-container matColumnDef="characters">
      <th mat-header-cell *matHeaderCellDef> Characters </th>
      <td mat-cell *matCellDef="let episode"> 
        <button mat-raised-button color="primary">Characters</button>  
      </td>
    </ng-container>        
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-expansion-panel>